body{
  font-family: "Montserrat",sans-serif,"Roboto",sans-serif;
  background-color: #202123;
}
.logo-head{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #202123;
}
.logo-head h4{
  color: white;
}
.chat-message{
  background-image: url(../public/images/Untitled.png);
  background-size: cover;
  /* background-repeat: repeat; */
  min-height: 65vh;
  height: auto;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  overflow-y:scroll;
  scrollbar-gutter: stable;
  scrollbar-color: #6d9488 #e4e4e4;
}
.chat-message::-webkit-scrollbar {
  width: 16px;
}

.chat-message::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.chat-message::-webkit-scrollbar-thumb {
  background-color: #6d9488;
  border-radius: 100px;
}
.nonmessage-text{
  display: none;
}

.send-btn{
  padding: 4px 10px;
  background-color:  #6FE3BF;
  color: white;
  border: none;
  border-radius: 5px;
}
.parrent-msg{
  flex-direction: column;
  padding-bottom: 10px;
}
.message-right{
  background-color: #E5EDF5;
  border-radius: 25px 0px 25px 25px;
  padding: 0.5em 1em !important;
  color:black;
  width: fit-content;
  font-size: 18px;
  float: right;
  margin-right: 20px;
  order: 2;
  margin-top: 15px;
}

.message-left{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  order:1;
}
.text-bar{
  display: flex;
  margin-top: 37px;
  padding-bottom: 30px;
}
.text-bar ::placeholder{
  font-size: 18px;
  color: #ECEEF0;
}
.tex-bar{
  background-color: #202123;
}
.input-bar{
  width:80vw;
  border: none;
  background-color: #8b8c8e;
  color: white;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
.copyrights{
  text-align: center;
}
.message-text{
 display: inline-block;
 padding-right: 20px;
}
.chat-message {
  overflow-y: auto;
  border: 1px solid #ccc;
}
.contentStyle{
  margin: 0;
  color: white;
  padding: 0.5em 1em !important;
  width: fit-content;
}
.fullcarousel{
  background-color: #444654;
  border-radius: 0 25px 25px 30px;
  width: 300px;
  padding:20px;
}
.ant-carousel .slick-dots li button{
  margin-top: 15px;
}
.blue-color{
  background-color: #6FE3BF;
  color: black;
  border: none;
  padding: 10px 12px;
  border-radius: 100%;
}

.orange-color{
  background-color: white;
  color: #6FE3BF !important;
  border: none;
  padding: 10px 12px;
  border-radius: 100%;
}
.ant-btn{
  display: none;
}
.ant-modal .ant-modal-content{
  margin-left: -70%;
  margin-right: 70%;
  margin-top: 40%;
  background-color: #202123;
  color: white;
}
.ant-modal .ant-modal-title{
  background-color: #202123;
  color: white;
} 
.ant-modal .ant-modal-close-x{
  color: white;
}

@media (max-width: 480px) {
  .ant-modal .ant-modal-content{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 55%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .ant-modal .ant-modal-content{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 45%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .ant-modal .ant-modal-content{
    margin-left: -20%;
    margin-right: 20%;
    margin-top: 45%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .ant-modal .ant-modal-content{
    margin-left: -20%;
    margin-right: 20%;
    margin-top: 45%;
  }
}
@media (min-width: 1201px) {
  .ant-modal .ant-modal-content{
    margin-left: -20%;
    margin-right: 20%;
    margin-top: 40%;
  }
}
.connect{
  background-color: #202123;
}
.con-text{
   color: #6FE3BF;
   font-weight: 500;
   border-left: 2px;
   border-color: #6FE3BF;
   border-style: solid;
   border-top: none;
   border-right: none;
   border-bottom: none;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.title{
 display:'flex';
 align-items:'center'

}